<nz-form-item>
    <nz-form-control  nzErrorTip='Role is required' [nzValidateStatus]="props?.hasError?'error': 'success' ">
        <nz-form-label nzFor='' [nzNoColon]='true'>
            <span class='text-red-dark m-r-3px' *ngIf='props?.required === true'>*</span>
            <span>Search Role</span>
        </nz-form-label>
        <nz-input-group [nzSuffix]='suffixIconSearch' style='width: 100%'>
            <input nzSize='large' type='text' nz-input placeholder='at least 4 characters is required'
                   [(ngModel)]='value'
                   (input)='onInput($event)'
                   [nzAutocomplete]='auto'
                   [autofocus]='props?.autoFocus'
            />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <span nz-icon [nzType]="!isLoading ? 'search': 'loading'"></span>
        </ng-template>
        <nz-autocomplete #auto>
            <nz-auto-option *ngFor='let data of options' [nzLabel]='data.name' (click)='onSelected(data)' [nzValue]='data'>
                <span [innerHTML]='data.name'></span>
            </nz-auto-option>
        </nz-autocomplete>
    </nz-form-control>
</nz-form-item>
