<nz-page-header></nz-page-header>
<nz-card>
    <div nz-row>
        <div nz-col [nzXs]="{ span: 24, offset: 0 }" [nzLg]="{ span: 18, offset: 0 }">
            <form nz-form [nzLayout]="'vertical'" [autocomplete]="'off'" [formGroup]="form" (submit)="submit()">
                <h2 class="m-b-2em">Reset Password</h2>
                <div nz-row class="ph-main">

                    <div class="m-t-1em" nz-col [nzSpan]="24">
                        <div class="m-t-1em" nz-col [nzSpan]="24">
                            <app-user-search-dropdown [props]="{hasError: isUserControlInvalid}"
                                                      (valueChange)="userSelected($event)"
                                                      #userSearchDropdownComponent></app-user-search-dropdown>
                        </div>
                    </div>

                    <div class="m-t-1em m-t-sm-1em" nz-col [nzSpan]="24" [nzLg]="24" [nzXs]="24">
                        <nz-form-item>
                            <nz-form-label>New Password</nz-form-label>
                            <app-user-password [form]="form"
                                               [props]="{size: 'default', formControlName: 'password'}"></app-user-password>
                        </nz-form-item>
                    </div>

                    <div class="m-t-1em m-t-sm-1em" nz-col [nzSpan]="24" [nzLg]="24" [nzXs]="24">
                        <nz-form-item>
                            <nz-form-label>Confirm Password</nz-form-label>
                            <app-user-password [form]="form"
                                               [props]="{size: 'default', formControlName: 'confirmPassword'}"></app-user-password>
                        </nz-form-item>
                    </div>

                    <div class="m-t-1em" nz-col [nzSpan]="24">
                        <div nz-row nzJustify="space-between">
                            <div nz-col [nzSpan]="12">
                                <nz-form-item>
                                    <nz-form-control>
                                        <button nz-button nzType="primary" nzSize="large"
                                                [disabled]="isLoading"
                                                [nzLoading]="isLoading">
                                            Submit
                                        </button>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nz-card>
