<nz-form-item>
    <nz-form-label nzFor='paymentCollectionMode'>
        <span class='text-red-dark m-r-3px' *ngIf='props.required'>*</span>
        Select Gender
    </nz-form-label>
    <nz-form-control nzErrorTip='Gender is required' [nzValidateStatus]="hasError?'error': 'success' ">
        <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder='Select..'
            name='authType'
            [(ngModel)]='selectedValue'
            (ngModelChange)='onSelected($event)'
            nzStatus='error'
        >
            <nz-option *ngFor='let option of selectOptions'
                       [nzLabel]='option.title'
                       [nzValue]='option'></nz-option>
        </nz-select>
    </nz-form-control>
</nz-form-item>